<!DOCTYPE HTML>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link combofile="mall/category_v2.shtml" rel="stylesheet" href="#springUrl('/css/all_classify.min.css')">
<body>

<div class="WX_search">
    <form action="###" class="WX_search_frm" onsubmit="return false;">
      <input type="search" class="WX_search_txt" ptag="37110.50.1" id="topSearchTxt" placeholder="搜索京东全部商品">
    <a class="WX_search_clear" href="javascript:;" id="topSearchClear" style="display: none;">x</a>
    </form>
    <div class="WX_me">
        <div>
            <a href="javascript:" id="topSearchbtn" class="WX_search_btn_blue" style="display:none;">搜索</a>
            <a href="javascript:" id="topSearchCbtn" class="WX_search_btn" style="display:none">取消</a>
        </div>
    </div>
    <!-- <div class="WX_me">
      <div class="WX_me_btn"></div>
    </div> -->
</div>

<div id="smartboxBlock" style="display:none;"><div> <div class="s_tab" dtab="s-tab" style="display:none;"> <a href="javascript:" ind="1" cg="1-6-1">最近搜索</a> <a href="javascript:" ind="2" cg="1-6-2">热门搜索</a> </div> <div class="s_row" dtab="s-row" style="display:none;"> </div> <div class="s_btn" dtab="s-btn" style="display:none;" cg="1-6-13">清除搜索历史</div> <div class="s_tag" dtab="s-tag" style="display:none;"> </div> <div class="s_btn" dtab="c-btn" style="display:none;" cg="1-7-1">换一批</div> <div class="s_row" dtab="smartWrap" style="display:none;"> </div></div></div>
<div class="wx_loading2" style="display: none;"><i class="wx_loading_icon"></i></div>
<div class="wx_wrap" style="height: 405px;">

    <div id="yScroll1" style="overflow: hidden; position: absolute; top: 45px; left: 0px; width: 76px; height: 473px; background-color: rgb(243, 243, 243);">
        <ul class="category1" id="allcontent" style="border-bottom-style: none; transition: 1200ms cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition: 1200ms cubic-bezier(0.1, 0.57, 0.1, 1); transform: translate(0px, 0px) translateZ(0px);">


            <li keywordid="626" ptag="37110.52.1" class="cur">手机

            </li>



            <li keywordid="665" ptag="37110.52.15" class="">品牌男装

            </li>



            <li keywordid="627" ptag="37110.52.2" class="">电脑数码

            </li>


            <li keywordid="628" ptag="37110.52.3" class="">家用电器

            </li>



            <li keywordid="654" ptag="37110.52.13" class="">饰品手表

            </li>



            <li keywordid="630" ptag="37110.52.5" class="">鞋靴箱包

            </li>



            <li keywordid="632" ptag="37110.52.7" class="">家居百货

            </li>



            <li keywordid="653" ptag="37110.52.11" class="">奢侈品

            </li>


            <li keywordid="635" ptag="37110.52.9" class="">户外运动

            </li>



            <li keywordid="636" ptag="37110.52.14" class="">汽车用品

            </li>


            <li keywordid="631" ptag="37110.52.6" class="">个护化妆

            </li>



            <li keywordid="629" ptag="37110.52.4" class="">女装内衣

            </li>




            <li keywordid="634" ptag="37110.52.10" class="">食品生鲜

            </li>



            <li keywordid="633" ptag="37110.52.8" class="">母婴玩具

            </li>



            <li keywordid="637" ptag="37110.52.12" class="">图书音像

            </li>


        </ul>
    </div>
    <div id="yScroll2" style="overflow: hidden; position: absolute; top: 45px; left: 76px; height: 473px; width:244px;">
        <div style="transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1); transform: translate(0px, 0px) translateZ(0px);">
            <a class="guanggao" id="guanggaoBanner" ptag="37110.51.1" href="#" target="http://bases.wanggou.com/mcoss/focusbi/click?viewid=X_xHzU4ZqlEcL89S58-nq0SnQSP_PRDJSHAiB8KwCvYFdX7qiTV5voAZrU6WmdycvoSOBf_xn328yhVNOKHuvnG0gTElEXidAk5XOCVhVGwAtxL63arJ1apZSZMpGagyd2HNy_vR77jMWVMPlcPG-WQG5-MqV6RA58hQ92U6ACzjfZtQHf2SUxq8r2TdvGxIFdmhb9e2PLWfUPXsllGDgrl9qJXFXT-obTfGcy-ybyyvmF33xYUlpRXA4sRda3ONdQnEYn6jBHeaNbxrQRy2JwM6zmBFTXjUPwN9tfmT1dTDnnJwLTxz-iqA1ZVXefRqXRrrHyr1-CKLTzbP3SmlLXTwq6wmYWBU28Vz3tq1UW387a1ux-RISnWsZUmRU6zU6Av_b33VN8Jyis80k0YNBAHphzFeziWoe0a4IqZrdhQiz8g049h04Ed7j6jCXeM2_e-tmGIuJ8x7zo8A9xtKuWmPMrPwjbkKfppB4to4h9FCt6_O6PPdBhsYxnxWmR4sRT9PVO7f1XkL9Qc5UHk7jD705RtTMny9aTAIKIrDdjXJuSN0dGJzezwPL5SIuiuPHeLDd6s9pvGP6e4IZ-UtKLcGFNkqNbj_NNm3EEXhWl0%3D&amp;url=http%3A%2F%2Fmm.wanggou.com%2Fjuhui%2Fevent89%2Findex.shtml%3FPTAG%3D37110.51.1"><img src="http://img6.paipaiimg.com/7255df06/acpc-5421205E-000000010000000155820000000527D6.1.jpg" alt=""></a>
            <dl class="category2" id="category2">

                <dt id="areaT_626_18432">品牌</dt><dd id="areaC_626_18432">
                <a target="http://mm.wanggou.com/search/index.shtml?key=iphone&amp;sf=1&amp;filt_type=catid,L655M655&amp;ptag=37110.1.1"><img src="http://pics3.paipaiimg.com/update/20140711/index_apple_logo.png" alt=""><span class="tit">Apple</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E4%B8%89%E6%98%9F&amp;sf=1&amp;filt_type=catid,L655M655&amp;brandId=99958&amp;ptag=37110.1.2"><img src="http://pics0.paipaiimg.com/update/20140711/index_105949441.png" alt=""><span class="tit">三星</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=htc&amp;sf=1&amp;filt_type=catid,L655M655&amp;brandId=5776&amp;ptag=37110.1.9"><img src="http://pics1.paipaiimg.com/update/20140716/index_htc.jpg" alt=""><span class="tit">HTC</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%8D%8E%E4%B8%BA&amp;sf=1&amp;filt_type=catid,L655M655&amp;brandId=5865&amp;ptag=37110.1.3"><img src="http://pics3.paipaiimg.com/update/20140711/index_105948475.png" alt=""><span class="tit">华为</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%8A%AA%E6%AF%94%E4%BA%9A&amp;sf=2&amp;filt_type=catid,L655M655&amp;ptag=37110.1.4"><img src="http://pics2.paipaiimg.com/update/20140820/index_090340784.jpg" alt=""><span class="tit">努比亚</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E8%81%94%E6%83%B3&amp;sf=1&amp;filt_type=catid,L655M655&amp;brandId=5707&amp;ptag=37110.1.5"><img src="http://pics1.paipaiimg.com/update/20140716/index_152331521.jpg" alt=""><span class="tit">联想</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E9%85%B7%E6%B4%BE&amp;sf=1&amp;filt_type=catid,L655M655&amp;brandId=6824&amp;ptag=37110.1.6"><img src="http://pics3.paipaiimg.com/update/20140711/index_105948952.png" alt=""><span class="tit">酷派</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E8%AF%BA%E5%9F%BA%E4%BA%9A&amp;sf=1&amp;filt_type=catid,L655M655&amp;brandId=5705&amp;ptag=37110.1.8"><img src="http://pics1.paipaiimg.com/update/20140716/index_152449373.jpg" alt=""><span class="tit">诺基亚</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E4%B8%80%E5%8A%A0&amp;sf=1&amp;ptag=37110.1.7"><img src="http://pics1.paipaiimg.com/update/20140730/index_182607635.jpg" alt=""><span class="tit">一加</span></a>
            </dd> <dt id="areaT_626_18801">手机配件</dt><dd id="areaC_626_18801">
                <a target="http://mm.wanggou.com/search/index.shtml?key=%E7%A7%BB%E5%8A%A8%E7%94%B5%E6%BA%90&amp;sf=1&amp;filt_type=catid,L860M860&amp;ptag=37110.1.21"><img src="http://pics0.paipaiimg.com/update/20140710/index_165034665.png" alt=""><span class="tit">移动电源</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E8%93%9D%E7%89%99%E8%80%B3%E6%9C%BA&amp;sf=1&amp;ptag=37110.1.22"><img src="http://pics2.paipaiimg.com/update/20140710/index_165035168.png" alt=""><span class="tit">蓝牙耳机</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E4%BF%9D%E6%8A%A4%E5%A5%97&amp;sf=1&amp;filt_type=catid,L866M866&amp;ptag=37110.1.26"><img src="http://pics0.paipaiimg.com/update/20140710/index_165036571.png" alt=""><span class="tit">保护套</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%AD%98%E5%82%A8%E5%8D%A1&amp;sf=1&amp;ptag=37110.1.25"><img src="http://pics2.paipaiimg.com/update/20140710/index_175919208.png" alt=""><span class="tit">存储卡</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E6%89%8B%E6%9C%BA%E8%80%B3%E6%9C%BA&amp;sf=1&amp;ptag=37110.1.24"><img src="http://pics2.paipaiimg.com/update/20140710/index_180355789.png" alt=""><span class="tit">手机耳机</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E6%95%B0%E6%8D%AE%E7%BA%BF&amp;sf=1&amp;filt_type=catid,L861M861&amp;ptag=37110.1.23"><img src="http://pics0.paipaiimg.com/update/20140710/index_175919667.png" alt=""><span class="tit">数据线</span></a>
            </dd> <dt id="areaT_626_19496">主题手机</dt><dd id="areaC_626_19496">
                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%85%AB%E6%A0%B8&amp;sf=1&amp;filt_type=catid,L655M655&amp;ptag=37110.1.41"><img src="http://pics1.paipaiimg.com/update/20140730/index_182317602.jpg" alt=""><span class="tit">八核时尚</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%9B%9B%E6%A0%B8&amp;sf=1&amp;filt_type=catid,L655M655&amp;ptag=37110.1.42"><img src="http://pics0.paipaiimg.com/update/20140730/index_18233053.jpg" alt=""><span class="tit">四核主流</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E8%87%AA%E6%8B%8D%20%E7%BE%8E%E9%A2%9C%20%E6%89%8B%E6%9C%BA&amp;sf=1&amp;ptag=37110.1.43"><img src="http://pics3.paipaiimg.com/update/20140730/index_1823415.jpg" alt=""><span class="tit">自拍美颜</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=4g%E6%89%8B%E6%9C%BA&amp;sf=1&amp;filt_type=catid,L655M655&amp;ptag=37110.1.44"><img src="http://pics2.paipaiimg.com/update/20140730/index_182235222.jpg" alt=""><span class="tit">4G时代</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%A4%A7%E5%B1%8F%E6%89%8B%E6%9C%BA&amp;sf=1&amp;filt_type=catid,L655M655&amp;ptag=37110.1.45"><img src="http://pics2.paipaiimg.com/update/20140730/index_182445522.jpg" alt=""><span class="tit">大屏手机</span></a>

                <a target="http://mm.wanggou.com/search/index.shtml?key=%E5%8F%8C%E5%8D%A1%E5%8F%8C%E5%BE%85&amp;sf=1&amp;filt_type=catid,L655M655&amp;ptag=37110.1.46"><img src="http://pics0.paipaiimg.com/update/20140730/index_182502419.jpg" alt=""><span class="tit">双卡双待</span></a>
            </dd></dl>
        </div>
    </div>
</div>

<iframe id="syn_vk_iframe" src="http://wei.jd.com/mobile/synvisitkey.shtml?ptag=37080.1.2" style="display: none;"></iframe>
##<div class="wx_footer" style="display: none;">
##    <div class="jd_logo" id="jdBtmLogo">
##
##    </div>
##</div>
<div class="wx_nav">
    <a href="shop?gender=male" data-href="shop" class="nav_index">购物</a>
    <a href="shopcircle" data-href="shop_cricle" class="nav_shop_circle">购物圈</a>
    <a href="" data-href="#" class="nav_search on" style="display:">搜索</a>
    <a href="" data-href="shop_car" class="nav_shopcart">购物车</a>
    <a href="" data-href="user" class="nav_me">个人中心</a></div></body></html>