<html lang="zh-CN"><head>
    <script type="text/javascript">
        var speedTimePoint = [[(new Date()), 1470, 117, 1,1470,117,4,1470,117,5]];
        speedTimePoint.rptTime = -1;
        speedTimePoint.diffNetwork=true;

    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <meta name="author" content="qinuoli">

    <style type="text/css">
        ._box
        {
            position: relative;
            width: 320px;
            height: 37px;
            /*background-color: #53AD3F;*/
            /*background-image: url(images/bg.png);*/
            background-repeat: no-repeat;
            background-position: 0 0;
            background-attachment: scroll;
            line-height: 37px;
            text-align: center;
            color: white;
            cursor: pointer;
            overflow: hidden;
            z-index: 1;
        }
        ._box input
        {
            position: absolute;
            width: 320px;
            height: 40px;
            line-height: 40px;
            font-size: 23px;
            opacity: 0;
            filter: "alpha(opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            left: -5px;
            top: -2px;
            cursor: pointer;
            z-index: 2;
        }
    </style>
    <title>发表文字</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">


    <link combofile="my/my_v2.shtml" rel="stylesheet" href="http://static.paipaiimg.com/c/=/wx/css/common/gb_v3.s.min.css,/wx/css/my/my_v2.s.min.css?t=1409800182"><!--[if !IE]>|xGv00|e94c4f6f94ed2bd6561128016a22087d<![endif]-->

    <script type="text/javascript">
        speedTimePoint[1]=new Date();
    </script>
    <script charset="utf-8" async="" src="http://static.gtimg.com/js/version/201409/wg.my.201409241731.js"></script><script charset="utf-8" async="" src="http://static.gtimg.com/js/version/201306/loadscript.201306251923.js"></script><script>var old = null;function asplay_top(c){var audio = document.createElement("audio");if(audio != null && audio.canPlayType && audio.canPlayType("audio/mpeg")){if(old){old.pause();}audio.src = c;old = audio;audio.play();}}</script></head>
<body>
    <form id="form1" runat="server" method="post" enctype="multipart/form-data" action="shopcircle_sharesuccess">
        <div>
            <textarea name="txt" clos="200" rows="5" warp="virtual" style="width: 100%" readonly>
                拜托，拜托啦~~~
            </textarea>
        </div>
        <ul class="my_list">
            <li class="hr"></li>
            <div>
                <p><b><font size="6">求打赏</font></b></p>
                <p>求赞助可以让朋友帮助你,赞助费在7日内筹齐后，将会为您自动下单，或者自己补余差价，否则赞助费会自动返还给朋友</p>
            </div>
            <li class="hr"></li>
            <li class="tiao">
                <a >
                    <b>送至</b> 北京市海淀区三环到四环之间...
                </a>
            </li>
            <li class="hr"></li>
            <div class="_box">
                <input type="file" id="file_input">
                <li class="rebound" accept="image/*;capture=camera"><a href="javascript:;">添加回报内容</a></li>
            </div>
            <!--  <li class="tiao" data-url="http://mm.wanggou.com/service/myOrder.shtml"><a href="javascript:;">返修/退换货</a></li> -->
    ##        <li class="tiao" id="helpCenter" data-url="http://weigou.qq.com/wkd/messages/show/cid-cc_idc_212794?_fna=y&amp;jobName=ImmediateMessageTemplate_N_idc1242266_247142"><a href="javascript:;">帮助中心</a></li>
        </ul>
        <br/>
        <div id="rebound_result"></div>
        <br/>
        <div style="text-align:center;"><input type="image" src = "/image/btn_fabu.png" alt="submit"/></div>

    </form>
##</div><!-- wx_wrap -->

<script type="text/javascript">
    speedTimePoint[2]=new Date();
    var rebound_result = document.getElementById("rebound_result");
    var input = document.getElementById("file_input");

    if(typeof FileReader === 'undefined'){
        rebound_result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
        input.setAttribute('disabled','disabled');
    }else{
        input.addEventListener('change',readFile,false);
    }

    function readFile(){
        var file = this.files[0];
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            rebound_result.innerHTML = '<img src="'+this.result+'" alt="" height="100" width="100"/>'
        }
    }
</script>
##<iframe id="syn_vk_iframe" src="http://wei.jd.com/mobile/synvisitkey.shtml?ptag=37080.1.4" style="display: none;"></iframe><div class="qq_footer"><div class="jd_logo" id="jdBtmLogo"></div><div class="qq_info">页面内容由京东提供</div></div>
</body></html>