<!DOCTYPE HTML>
<html lang="zh-CN"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>秀一秀</title>
<link type="text/css" rel="stylesheet" href="css/all_gouwucircle.min.css">

</head>

<body>

<div style="height: auto;overflow: hidden;  z-index:2px;"><img src="image/Camera_bj.png" style="width:100%" /></div>

<div  style="position: absolute; background-color: #e3e4e8; z-index:20px; overflow: hidden; width:100%; top:200%">

<div style=" height: auto;overflow: hidden; margin:10px;"><a href="#"><img src="image/Camera_btn.png" style="width:100%"/></a></div>
<div style="height: auto;overflow: hidden; margin:10px; "><a href="#"><img src="image/Camera_btn_image.png" style="width:100%"/></a></div>
<div style="height: auto;overflow: hidden;  margin:10px;"><a href="#"><img src="image/Camera_btn-delete.png" style="width:100%"/></a></div>

</div>
<div class="wx_nav">
    <a href="shop?actid=35011&tab=2" data-href="#" class="nav_index">购物</a>
	<a href="/shopcircle" data-href="#" class="nav_shop_circle">购物圈</a>
    <a href="#" data-href="http://mm.wanggou.com/category_m.shtml?PTAG=37080.1.2&shownav=1" class="nav_search" style="display:">搜索</a>
    <a href="#" data-href="http://mm.wanggou.com/my/jdshopcart.shtml?PTAG=37080.1.3&shownav=1" class="nav_shopcart">购物车</a>
    <a href="#" data-href="http://mm.wanggou.com/my/index.shtml?PTAG=37080.1.4&shownav=1" class="nav_me">个人中心</a></div></body></html>

</body>
</html>
