<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">

</style>
<title>秀一秀</title>
</head>

<body class="has_wx_download">
<div style="width:640px; position:relative; left:0px; right:0px;">
<div style="position:relative; left:0px; right:0px;"><img src="image/xiu_1.jpg" width="640" height="1008" /></div>
<div style="position:absolute; right:17px; top: 658px; z-index:10px;"><a href="#"><img src="image/Camera.png" width="121" height="108" border="0" /></a></div>
</div>

</body>
</html>
